html,
body {
    height: 100%;
    margin: 0;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    padding: 1rem;
}

.navbar-logo.navbar-logo-1 {
    color: #fff;
}

.footer-meta .meta-copyright .info-text.info-text-1 p {
    color: #fff;
}

.bg-black {
    background-color: #000;
}

a.navbar-logo span {
    color: #fff;
}

.footer {
    background-color: #000;
}

.footer-meta .footer-container {
    height: auto;
}

/* .footer-meta .meta-copyright .info-text a {
    color:
} */
