html,
body {
    height: 100%;
    margin: 0;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    padding: 1rem;
    margin-top: 70px;
    width: 100%;
}

.post-lists-body {
    display: grid;
}

/* Tablet and up: 2 columns */
@media (min-width: 600px) {
    .main-content {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 900px) {
    .main-content {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.navbar-logo.navbar-logo-1 {
    color: #fff;
}

.footer-meta .meta-copyright .info-text.info-text-1 p {
    color: #fff;
}

.bg-black {
    background-color: #000;
}

a.navbar-logo span {
    color: #fff;
}

.footer {
    background-color: #000;
}

.footer-meta .footer-container {
    height: auto;
}

/* .footer-meta .meta-copyright .info-text a {
    color:
} */

.post-list-item {
    width: 300px;
}

.header a,
.footer a {
    color: #fff;
}
