.navbar-logo.navbar-logo-1 {
    color: #fff;
}

.footer-meta .meta-copyright .info-text.info-text-1 p {
    color: #fff;
}

.bg-black {
    background-color: #000;
}

a.navbar-logo span {
    color: #fff;
}

.footer {
    background-color: #000;
}
