html,
body {
    height: 100%;
    margin: 0;
    background-color: #f4f4f4;
}

a {
    color: #ddd6d0;
    font-weight: bold;
}

a:hover {
    color: #fff;
}

.title-text {
    font-family: "Ancizar Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.body-text {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: regular;
    font-style: normal;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    padding: 1rem;
    margin-top: 70px;
    width: 100%;
}

.post-lists-body {
    display: grid;
}

/* Tablet and up: 2 columns */
@media (min-width: 600px) {
    .post-lists-body {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 900px) {
    .post-lists-body {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.navbar-logo.navbar-logo-1 {
    color: #fff;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    height: 60px;
    max-width: 100%;
}

.navbar-logo.navbar-logo-1 span {
    margin-left: 10px;
    font-size: 48px;
    color: #fbf4ee;
    margin-top: 0;
    top: auto;
    font-weight: 300;
}

@media (max-width: 650px) {
    .navbar-logo.navbar-logo-1 span {
        font-size: 28px;
    }
}

@media (max-width: 650px) {
    .footer-meta .meta-copyright .info-text p {
        font-size: 26px;
    }
}

.navbar-logo img {
    height: 36px;
}

.footer-meta .meta-copyright .info-text.info-text-1 p {
    color: #fff;
}

.footer-meta .meta-copyright .info-text.info-text-1 a {
    color: #fff;
    font-weight: bold;
}

.bg-black {
    background-color: #000;
}

a.navbar-logo span {
    color: #fff;
}

.footer {
    background-color: #000;
}

.footer-meta .footer-container {
    height: auto;
}

/* .footer-meta .meta-copyright .info-text a {
    color:
} */

.post-list-item {
    width: 300px;
}

@media (max-width: 650px) {
    .post-list-item {
        width: 100%;
    }
}

.header,
.footer {
    color: #fbf4ee;
}

.post-header {
    margin-bottom: 30px;
    font-family: "Ancizar Serif", serif;
}

.post-title {
    font-size: 36px;
    font-family: "Ancizar Serif", serif;
    font-weight: bold;
    margin-bottom: -10px;
}

.post-container {
    padding-left: 0;
}

.post-container .post-content {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: "EB Garamond", serif;
    font-size: 18px;
}

.post-content h2::before {
    content: "";
}

.youtube-container {
    text-align: center;
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

.youtube-container iframe,
.youtube-container object,
.youtube-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 650px) {
    .footer-meta .meta-copyright .info-text {
        float: none;
        font-size: 18px;
    }
}

@media (max-width: 650px) {
    .footer-meta .meta-copyright .info-text p {
        text-align: center;
    }
}
